<div class="medium-5 medium-centered columns lightest-bg container" id="worker-signup-form">
    <div class="centered-text dark-color">
      <h3><b>Signup</b></h3>
    </div>
    <%= form_for(Contractor.new,
          :as => :contractor,
          :url => registration_path(:contractor),
          :html => {:id => "sign_up_contractor" },
          :format => :json,
          :remote => true) do |f| %>
      <%= devise_error_messages! %>
      <div>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.password_field :password_confirmation %>
      </div>
      <div><%= f.submit "Sign up" %>
      </div>
    <% end %>
</div>
