<div class="medium-12 columns" id="navbar-content">
  <%= hidden_field( :type, :field, :value => @type ) %>
  <div class="small-3 medium-3 columns rounded-border nav-div" style="box-shadow: 2px 2px #000000;">
    <%= link_to(image_tag("log_out.png"), destroy_worker_session_path, id: "logout-link") %>
  </div>
  <div class="small-3 medium-3 columns end rounded-border nav-div" style="box-shadow: 2px 2px #000000;">
    <%= link_to(image_tag("hard_hat.png"), root_path, id: "dashboard-link") %>
  </div>
  <% if @type == 'worker' %>
    <div class="small-3 medium-3 columns end rounded-border nav-div" style="box-shadow: 2px 2px #000000;">
      <%= link_to(image_tag("search.png"), root_path, id: "search-link") %>
    </div>
  <% end %>
  <% if @type == 'contractor' %>
    <div class="small-3 medium-3 columns end rounded-border nav-div" style="box-shadow: 2px 2px #000000;">
      <%= link_to(image_tag("add-new.png"), root_path, id: "add-new-link") %>
    </div>
  <% end %>
  <div class="small-3 medium-3 columns end rounded-border nav-div" style="box-shadow: 2px 2px #000000;">
    <%= link_to(image_tag("control_pannel.png"), root_path, id: "controlpannel-link") %>
  </div>
</div>
