<div class="medium-5 medium-centered columns lightest-bg" id="job-show" style="width: auto; margin-top: 10px; height: 100vh;">
  <div class="centered-text">
    <div id="job-details">
      <h3><%= @job.title %> - details</h3>
    </div>
    <div class="medium-12 clearfix columns lightest-bg medium-centered rounded-border thin-border post" style="font-size: 14px; margin-top: 10px; margin-bottom: 10px;">
      <%= hidden_field( :address, :field, :value => @job.address ) %>
      <%= hidden_field( :id, :field, :value => @job.id ) %>
      <div><%= "Hourly Rate: $#{Money.new(@job.hourly_rate_cents).dollars}" %></div>
      <div><%= "Start Date: #{@job.start_date.to_formatted_s(:long)}" %></div>
      <div><%= "Start Time: #{@job.start_time.to_formatted_s(:long)}" %></div>
      <div><%= "End Time:#{@job.end_time.to_formatted_s(:long)}" %></div>
      <div class="medium-12 columns" id="map-canvas-0" style="height: 300px;">
      </div>
      <div class="medium-9 columns">
        <%= @job.description %>
      </div>
      <% if Signup.find_by(job: @job.id, worker: current_worker) %>
        <div class="medium-3 columns">
          <%= button_to "RESIGN", root_path, :method => :get, id: "resign_job_button", class: "button" %>
        </div>
      <% else %>
        <div class="medium-3 columns">
          <%= button_to "SIGN UP", root_path, :method => :get, id: "signup_job_button", class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
