<div class="medium-5 medium-centered columns lighter-bg container" id="select-type">
    <div class="centered-text dark-color">
      <h3><b>Signup</b></h3>
    </div>
    <%= form_for(resource,
          :as => resource_name,
          :url => registration_path(resource_name),
          :html => {:id => "sign_up_worker" },
          :format => :json,
          :remote => true) do |f| %>
      <%= devise_error_messages! %>
      <div>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.password_field :password_confirmation %>
      </div>
      <div><%= f.submit "Sign up" %>
      </div>
    <% end %>
</div>
